---
const { title, url } = Astro.props;
import notePageIcon from '../assets/note_page.svg';
---

<li class="text-xl py-1 flex" ><img src={notePageIcon.src} class="w-6"/><a class="px-3 hover:text-sky-700" href={url}>{title}</a></li>