---
---
<div>
    <ul class="flex gap-0.5 md:gap-6 lg:gap-12">
        <li >
            <a href="/" class="text-sm md:text-lg font-semibold text-slate-400 hover:bg-sky-50 hover:text-sky-600 rounded md:p-4 ">Home</a>
        </li>
        <li>
            <a href="/blog/" class="text-sm p-2 md:text-lg font-semibold text-slate-400 hover:bg-sky-50 hover:text-sky-600 rounded md:p-4">Notes</a>
        </li>
        <li >
            <a href="/tags/" class="text-sm p-2 md:text-lg font-semibold text-slate-400 hover:bg-sky-50 hover:text-sky-600 rounde md:p-4">Tags</a>
        </li>
        <li>
            <a href="/about/" class="text-sm p-2 md:text-lg font-semibold text-slate-400 hover:bg-sky-50 hover:text-sky-600 rounded md:p-4">About</a>
        </li>
    </ul>
</div>