---
---
<section
  class="prose  
  prose-h1:font-bold prose-h1:text-xl prose-p:text-justify 
  prose-a:text-sky-600 prose-img:rounded-xl
  prose-headings:underline prose-img:w-75 prose-img:mx-auto prose-img:my-0 !max-w-none">
  <slot />
</section>
